.weblink {
  margin-bottom: 15px; }

.list-lcategory {
  background-color: #f2d7c4;
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
  margin-bottom: 20px;
  min-height: 20px; }
  .list-lcategory .lcategory-header {
    background-color: #f2d7c4;
    background-image: linear-gradient(to bottom, #f9f9f9, #f3f3f3);
    background-repeat: repeat-x;
    border-radius: 2px;
    height: 47px;
    line-height: 48px;
    text-align: center;
    border-bottom: 1px solid #ddd; }
  .list-lcategory ul {
    list-style: outside none none;
    margin: 0;
    max-height: 600px;
    overflow-y: auto;
    padding: 0; }
  .list-lcategory li {
    color: #2aaae6;
    cursor: pointer;
    line-height: 24px !important;
    padding: 3px 10px;
    position: relative; }
    .list-lcategory li .icon {
      display: none;
      position: absolute; }
    .list-lcategory li .edit {
      right: 20px;
      top: 0; }
    .list-lcategory li .delete {
      top: 0;
      right: 0; }
  .list-lcategory li:hover {
    background-color: #e5f5fc;
    line-height: 24px; }
    .list-lcategory li:hover .icon {
      display: block; }
  .list-lcategory .selected {
    background-color: #2aaae6; }
  .list-lcategory .selected a {
    color: #fff; }
  .list-lcategory .paging {
    background-color: #f2d7c4;
    border-color: #e3e3e3 #ccc #ccc;
    border-top: 1px solid #e3e3e3;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #2aaae6; }
    .list-lcategory .paging span {
      cursor: pointer; }

ul.lbc {
  padding-left: 12px;
  box-sizing: border-box; }

ul.lbc li {
  list-style-image: url("../images/bullet-2.png"); }

